/* Styles.css */

* {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

 h1 {
    font-family: cursive;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: -30px;
    text-align: center;
    color: black;
}

div {
    padding: 20px;
    margin: auto;
    align-items: center;
    display: flex;
}

.cupcake img{
    border: 5px dotted darkred;
    width: 400px;
}

.chocolatechip img{
    border: 5px dotted brown;
    width: 400px;
}

.pumpkinpecan img{
    border: 5px dotted orange;
    width: 400px;
}

.bakinglogo {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
}