body {
    background-color: rgb(252, 216, 222);
}

.title {
    font-size: 30px;
    text-align: center;
    background-color: pink;
    margin: auto;
}

h1 {
    font-family: Garamond, serif;
}

.links {
    text-align: center;
    background-color: pink;
    padding: 8px;
    margin: -45px 0px 20px;
}